<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.UmsDistributorApplyMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.UmsDistributorApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="reviewer_id" jdbcType="BIGINT" property="reviewerId" />
    <result column="id_card_front_img" jdbcType="VARCHAR" property="idCardFrontImg" />
    <result column="id_card_back_img" jdbcType="VARCHAR" property="idCardBackImg" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.macro.mall.model.UmsDistributorApply">
    <result column="apply_reason" jdbcType="LONGVARCHAR" property="applyReason" />
    <result column="experience" jdbcType="LONGVARCHAR" property="experience" />
    <result column="review_comment" jdbcType="LONGVARCHAR" property="reviewComment" />
    <result column="self_introduction" jdbcType="LONGVARCHAR" property="selfIntroduction" />
    <result column="influence_screenshots" jdbcType="LONGVARCHAR" property="influenceScreenshots" />
    <result column="other_certificates" jdbcType="LONGVARCHAR" property="otherCertificates" />
    <result column="work_screenshots" jdbcType="LONGVARCHAR" property="workScreenshots" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, real_name, id_card, phone, wechat, status, apply_time, review_time, 
    reviewer_id, id_card_front_img, id_card_back_img, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    apply_reason, experience, review_comment, self_introduction, influence_screenshots, 
    other_certificates, work_screenshots
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.macro.mall.model.UmsDistributorApplyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ums_distributor_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.macro.mall.model.UmsDistributorApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_distributor_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ums_distributor_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_distributor_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.UmsDistributorApplyExample">
    delete from ums_distributor_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.UmsDistributorApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_distributor_apply (user_id, real_name, id_card, 
      phone, wechat, status, 
      apply_time, review_time, reviewer_id, 
      id_card_front_img, id_card_back_img, created_at, 
      updated_at, apply_reason, experience, 
      review_comment, self_introduction, 
      influence_screenshots, other_certificates, 
      work_screenshots)
    values (#{userId,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{reviewTime,jdbcType=TIMESTAMP}, #{reviewerId,jdbcType=BIGINT}, 
      #{idCardFrontImg,jdbcType=VARCHAR}, #{idCardBackImg,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{applyReason,jdbcType=LONGVARCHAR}, #{experience,jdbcType=LONGVARCHAR}, 
      #{reviewComment,jdbcType=LONGVARCHAR}, #{selfIntroduction,jdbcType=LONGVARCHAR}, 
      #{influenceScreenshots,jdbcType=LONGVARCHAR}, #{otherCertificates,jdbcType=LONGVARCHAR}, 
      #{workScreenshots,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.UmsDistributorApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_distributor_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="reviewTime != null">
        review_time,
      </if>
      <if test="reviewerId != null">
        reviewer_id,
      </if>
      <if test="idCardFrontImg != null">
        id_card_front_img,
      </if>
      <if test="idCardBackImg != null">
        id_card_back_img,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="applyReason != null">
        apply_reason,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="reviewComment != null">
        review_comment,
      </if>
      <if test="selfIntroduction != null">
        self_introduction,
      </if>
      <if test="influenceScreenshots != null">
        influence_screenshots,
      </if>
      <if test="otherCertificates != null">
        other_certificates,
      </if>
      <if test="workScreenshots != null">
        work_screenshots,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewTime != null">
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewerId != null">
        #{reviewerId,jdbcType=BIGINT},
      </if>
      <if test="idCardFrontImg != null">
        #{idCardFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImg != null">
        #{idCardBackImg,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null">
        #{applyReason,jdbcType=LONGVARCHAR},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=LONGVARCHAR},
      </if>
      <if test="reviewComment != null">
        #{reviewComment,jdbcType=LONGVARCHAR},
      </if>
      <if test="selfIntroduction != null">
        #{selfIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="influenceScreenshots != null">
        #{influenceScreenshots,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherCertificates != null">
        #{otherCertificates,jdbcType=LONGVARCHAR},
      </if>
      <if test="workScreenshots != null">
        #{workScreenshots,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.UmsDistributorApplyExample" resultType="java.lang.Long">
    select count(*) from ums_distributor_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_distributor_apply
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=BIGINT},
      </if>
      <if test="row.realName != null">
        real_name = #{row.realName,jdbcType=VARCHAR},
      </if>
      <if test="row.idCard != null">
        id_card = #{row.idCard,jdbcType=VARCHAR},
      </if>
      <if test="row.phone != null">
        phone = #{row.phone,jdbcType=VARCHAR},
      </if>
      <if test="row.wechat != null">
        wechat = #{row.wechat,jdbcType=VARCHAR},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=TINYINT},
      </if>
      <if test="row.applyTime != null">
        apply_time = #{row.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.reviewTime != null">
        review_time = #{row.reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.reviewerId != null">
        reviewer_id = #{row.reviewerId,jdbcType=BIGINT},
      </if>
      <if test="row.idCardFrontImg != null">
        id_card_front_img = #{row.idCardFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="row.idCardBackImg != null">
        id_card_back_img = #{row.idCardBackImg,jdbcType=VARCHAR},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedAt != null">
        updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.applyReason != null">
        apply_reason = #{row.applyReason,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.experience != null">
        experience = #{row.experience,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.reviewComment != null">
        review_comment = #{row.reviewComment,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.selfIntroduction != null">
        self_introduction = #{row.selfIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.influenceScreenshots != null">
        influence_screenshots = #{row.influenceScreenshots,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.otherCertificates != null">
        other_certificates = #{row.otherCertificates,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.workScreenshots != null">
        work_screenshots = #{row.workScreenshots,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ums_distributor_apply
    set id = #{row.id,jdbcType=BIGINT},
      user_id = #{row.userId,jdbcType=BIGINT},
      real_name = #{row.realName,jdbcType=VARCHAR},
      id_card = #{row.idCard,jdbcType=VARCHAR},
      phone = #{row.phone,jdbcType=VARCHAR},
      wechat = #{row.wechat,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=TINYINT},
      apply_time = #{row.applyTime,jdbcType=TIMESTAMP},
      review_time = #{row.reviewTime,jdbcType=TIMESTAMP},
      reviewer_id = #{row.reviewerId,jdbcType=BIGINT},
      id_card_front_img = #{row.idCardFrontImg,jdbcType=VARCHAR},
      id_card_back_img = #{row.idCardBackImg,jdbcType=VARCHAR},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      apply_reason = #{row.applyReason,jdbcType=LONGVARCHAR},
      experience = #{row.experience,jdbcType=LONGVARCHAR},
      review_comment = #{row.reviewComment,jdbcType=LONGVARCHAR},
      self_introduction = #{row.selfIntroduction,jdbcType=LONGVARCHAR},
      influence_screenshots = #{row.influenceScreenshots,jdbcType=LONGVARCHAR},
      other_certificates = #{row.otherCertificates,jdbcType=LONGVARCHAR},
      work_screenshots = #{row.workScreenshots,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_distributor_apply
    set id = #{row.id,jdbcType=BIGINT},
      user_id = #{row.userId,jdbcType=BIGINT},
      real_name = #{row.realName,jdbcType=VARCHAR},
      id_card = #{row.idCard,jdbcType=VARCHAR},
      phone = #{row.phone,jdbcType=VARCHAR},
      wechat = #{row.wechat,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=TINYINT},
      apply_time = #{row.applyTime,jdbcType=TIMESTAMP},
      review_time = #{row.reviewTime,jdbcType=TIMESTAMP},
      reviewer_id = #{row.reviewerId,jdbcType=BIGINT},
      id_card_front_img = #{row.idCardFrontImg,jdbcType=VARCHAR},
      id_card_back_img = #{row.idCardBackImg,jdbcType=VARCHAR},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.UmsDistributorApply">
    update ums_distributor_apply
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewerId != null">
        reviewer_id = #{reviewerId,jdbcType=BIGINT},
      </if>
      <if test="idCardFrontImg != null">
        id_card_front_img = #{idCardFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImg != null">
        id_card_back_img = #{idCardBackImg,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null">
        apply_reason = #{applyReason,jdbcType=LONGVARCHAR},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=LONGVARCHAR},
      </if>
      <if test="reviewComment != null">
        review_comment = #{reviewComment,jdbcType=LONGVARCHAR},
      </if>
      <if test="selfIntroduction != null">
        self_introduction = #{selfIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="influenceScreenshots != null">
        influence_screenshots = #{influenceScreenshots,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherCertificates != null">
        other_certificates = #{otherCertificates,jdbcType=LONGVARCHAR},
      </if>
      <if test="workScreenshots != null">
        work_screenshots = #{workScreenshots,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.macro.mall.model.UmsDistributorApply">
    update ums_distributor_apply
    set user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      reviewer_id = #{reviewerId,jdbcType=BIGINT},
      id_card_front_img = #{idCardFrontImg,jdbcType=VARCHAR},
      id_card_back_img = #{idCardBackImg,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      apply_reason = #{applyReason,jdbcType=LONGVARCHAR},
      experience = #{experience,jdbcType=LONGVARCHAR},
      review_comment = #{reviewComment,jdbcType=LONGVARCHAR},
      self_introduction = #{selfIntroduction,jdbcType=LONGVARCHAR},
      influence_screenshots = #{influenceScreenshots,jdbcType=LONGVARCHAR},
      other_certificates = #{otherCertificates,jdbcType=LONGVARCHAR},
      work_screenshots = #{workScreenshots,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.UmsDistributorApply">
    update ums_distributor_apply
    set user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      reviewer_id = #{reviewerId,jdbcType=BIGINT},
      id_card_front_img = #{idCardFrontImg,jdbcType=VARCHAR},
      id_card_back_img = #{idCardBackImg,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>